.temp {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
}

.temp-value, .measures {
	font-size: 18px;
	color: var(--accent);
}

.measures span {
	cursor: pointer;
}

.mark + .mark::before {
	content: '|';
	margin: auto 5px;
}

@media (max-width: 768px) {
	.temp {
		justify-content: center;
		margin-bottom: 10px;
	}
}

