.app-main__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	font-family: Lora;
}

.info {
	color: var(--accent);
	margin-top: 10px;
}

@media (max-width: 768px) {
	.app-main__content {
		display: block;
	}
}