.days {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	background-color: var(--light);
}

.days img {
	width: 64px;
	height: 64px;
}

.day {
	flex-basis: 20%;
}
