.days {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	background-color: var(--light);
	-ms-align-items: stretch;
	align-items: stretch;
	flex-wrap: wrap;
}

.days img {
	width: 64px;
	height: 64px;
}

.day {
	flex-basis: 14%;
	margin-bottom: 10px;
}

.day-date {
	cursor: pointer;
	-ms-align-self: flex-start;
	align-self: flex-start;
}
.day-temperature {
	-ms-align-self: flex-end;
	align-self: flex-end;
}

@media (max-width: 992px) {
	.day-main .sky {
		text-align: center;
	}
}

@media (max-width: 768px) {
	.day {
		flex-basis: 25%;
	}
	.day-date {
		text-align: center;
	}
}

@media (max-width: 576px) {
	.day {
		flex-basis: 50%;
	}
}