.days {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	background-color: var(--light);
	-ms-align-items: stretch;
	align-items: stretch;
}

.days img {
	width: 64px;
	height: 64px;
}

.day {
	flex-basis: 25%;
}

.day-date {
	cursor: pointer;
	-ms-align-self: flex-start;
	align-self: flex-start;
}
.day-temperature {
	-ms-align-self: flex-end;
	align-self: flex-end;
}