.searchLocations {
	margin-bottom: 10px;
	position: relative;
}

.searchLocations-input {
	padding: 7px 15px;
	box-sizing: border-box;
	width: 100%;
	font-size: 16px;
	color: var(--accent);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: none;
}

.searchLocations-input:focus {
	outline: none;
}

.searchLocations-label {
	display: block;
	margin-bottom: 10px;
	font-size: 17px;
	font-weight: bold;
	font-family: 'Merriweather';
}

.searchLocations-list {
	list-style: none;
	background-color: var(--light);
	color: #000;
	padding: 10px;
	margin-top: 0px;
	max-height: 150px;
	overflow-y: auto;
	font-family: Lora;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	box-shadow: 0px 5px 15px rgba(0,0,0,.6);

}

.searchLocations-list__item {
	padding: 10px;
}