body,html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-image: url('./bg_n.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

#root {
	max-width: 576px;
	width: 100%;
	padding: 10px;
}
/*body::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #0D47A1;
	opacity: 0.4;
	z-index: -1;
}*/

.app {
	color: #fff;
}

.app-main {
	padding: 20px;
	border-radius: 20px;

}
.app-main__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.app-main__content-main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.bold {
	font-weight: bold;
}
